[submodule "mkspiffs"]
	path = mkspiffs
	url = https://github.com/pellepl/spiffs.git
[submodule "odroid-go-firmware"]
	path = odroid-go-firmware
	url = https://github.com/othercrashoverride/odroid-go-firmware.git
